### Loading liberaries

In [2]:
import numpy as np # linear algebra
import pandas as pd

### Loading data

In [5]:
df = pd.read_csv('./data/container-ports-2000-2017.csv')
df.head()

,U.S. Custom Ports,Coast,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"Aberdeen, WA",P,0,0,0,0,0,8,0,0,0,29,0,16,414,645,855,43,505,383
1,"Anacortes, WA",P,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0
2,"Anchorage, AK",AK,0,0,0,"3,135","28,495","4,949","1,185",824,663,"1,208",540,"2,302","5,471","13,274","6,792","11,646","15,823","18,779"
3,"Baltimore, MD",A,"1,899,689","1,942,158","2,189,129","2,077,996","2,641,888","2,640,988","2,824,549","2,756,330","2,855,096","2,380,630","2,929,029","3,108,746","3,243,542","3,438,606","3,691,480","3,977,777","4,264,068","4,871,362"
4,"Baton Rouge, LA",G,8,0,959,21,3,149,"1,562",0,0,"1,164","6,456","2,587",12,"1,987",72,0,27,0

In [17]:
print(df.columns) #checkout column names
print("**Length of columens**")
print(df.columns.shape)

Index(['U.S. Custom Ports', 'Coast', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')
**Length of columens**
(20,)

In [18]:
df.rename(columns = {'U.S. Custom Ports': 'US_Custom_Ports'}, inplace = True)# Rename to aproprite column name

In [19]:
df.columns

Index(['US_Custom_Ports', 'Coast', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   US_Custom_Ports  63 non-null     object
 1   Coast            62 non-null     object
 2   2000             63 non-null     object
 3   2001             63 non-null     object
 4   2002             63 non-null     object
 5   2003             63 non-null     object
 6   2004             63 non-null     object
 7   2005             63 non-null     object
 8   2006             63 non-null     object
 9   2007             63 non-null     object
 10  2008             63 non-null     object
 11  2009             63 non-null     object
 12  2010             63 non-null     object
 13  2011             63 non-null     object
 14  2012             63 non-null     object
 15  2013             63 non-null     object
 16  2014             63 non-null     object
 17  2015             63 non-null     object
 18  2016             63 non-null     object
 19  2017             63 non-null     object
dtypes: object(20)
memory usage: 10.0+ KB

In [21]:
df.describe()

,US_Custom_Ports,Coast,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,63,62,63,63,63,63,63,63,63,63,63,63,63,63,63,63,63,63,63,63
unique,63,6,49,51,53,56,57,55,58,55,57,56,59,59,59,61,60,52,54,55
top,"Aberdeen, WA",A,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
freq,1,25,14,13,11,8,7,9,6,8,7,8,5,5,5,3,4,12,10,9

In [22]:
df.max()

C:\Users\Gez\AppData\Local\Temp\ipykernel_24404\1378835575.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()

US_Custom_Ports    Wilmington, NC
2000                      967,306
2001                      964,634
2002                       98,599
2003                       95,584
2004                      906,018
2005                      826,931
2006                      890,403
2007                      962,676
2008                      852,571
2009                      961,631
2010                        9,324
2011                          980
2012                      968,725
2013                          966
2014                        9,797
2015                      915,182
2016                      957,981
2017                       96,817
dtype: object